# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.
2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.
2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.
2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [13]:
#Assignment 1: DataFrame Creation and Indexing
#1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column. 
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randint(1,50,size=(6,4)),columns = ['A','B','C','D'])
print("Dataframe = \n",df)

df.set_index('A',inplace = True)
print("Modified Dataframe = \n",df)

Dataframe =
     A   B   C   D
0  30  10  16  34
1  17  15  30  42
2  11  36  44  13
3  11   2  43  32
4  31  23  16  13
5   7  41  38  35
Modified Dataframe =
      B   C   D
A
30  10  16  34
17  15  30  42
11  36  44  13
11   2  43  32
31  23  16  13
7   41  38  35

In [14]:
#Assignment 1: DataFrame Creation and Indexing
#2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1,50,size = (3,3)),columns = ['A','B','C'],index = ['X','Y','Z'])
print("Dataframe = \n",df)

ele = df.at['Y','B']
print("Elements at row Y and column B = ",ele)

Dataframe =
     A   B   C
X  41   8  31
Y  28   1  31
Z  40  39  33
Elements at row Y and column B =  1

In [12]:
#Assignment 2: DataFrame Operations
#1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1,50,size = (5,3)),columns = ['A','B','C'])
print("Dataframe = \n",df)

df['D'] = df['A']*df['B']
print("Modified_dataframe = \n",df)

Dataframe =
     A   B   C
0  17   7  30
1  39  45  29
2  22  10  48
3  34  26  31
4  42  36  45
Modified_dataframe =
     A   B   C     D
0  17   7  30   119
1  39  45  29  1755
2  22  10  48   220
3  34  26  31   884
4  42  36  45  1512

In [17]:
#Assignment 2: DataFrame Operations
#2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1,50,size = (4,3)),columns = ['A','B','C'])
print("Dataframe = \n",df)

r_sum = df.sum(axis = 1)
c_sum = df.sum(axis = 0)

print("Row-wise sum = \n",r_sum)
print("Column-wise sum = \n",c_sum)

Dataframe =
     A   B   C
0  36   4  31
1  29  26  15
2   7   4   1
3  14  10   9
Row-wise sum =
 0    71
1    70
2    12
3    33
dtype: int64
Column-wise sum =
 A    86
B    44
C    56
dtype: int64

In [21]:
#Assignment 3: Data Cleaning
#1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1,50,size = (5,3)),columns = ['A','B','C'])
print("Dataframe = \n",df)

#introduce NAN values

df.iloc[0,1] = np.nan
df.iloc[2,2] = np.nan
df.iloc[4,0] = np.nan
print("Modified dataframe = \n",df)

df.fillna(df.mean(), inplace = True)
print("Final dataframe = \n",df)

Dataframe =
     A   B   C
0   4  16  45
1  11  49   6
2  48  19   3
3  25  21  34
4  45  19   8
Modified dataframe =
       A     B     C
0   4.0   NaN  45.0
1  11.0  49.0   6.0
2  48.0  19.0   NaN
3  25.0  21.0  34.0
4   NaN  19.0   8.0
Final dataframe =
       A     B      C
0   4.0  27.0  45.00
1  11.0  49.0   6.00
2  48.0  19.0  23.25
3  25.0  21.0  34.00
4  22.0  19.0   8.00

In [25]:
#Assignment 3: Data Cleaning
#2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1,50,size = (6,4)),columns = ['A','B','C','D'])
print("Dataframe = \n",df)

#introduce NAN values

df.iloc[0,1] = np.nan
df.iloc[2,2] = np.nan
df.iloc[4,0] = np.nan
print("Modified dataframe = \n",df)

df.dropna(inplace = True)
print("Final dataframe = \n",df)

Dataframe =
     A   B   C   D
0   1  17  23  15
1  14  25  17  41
2  49  27   9  42
3  25  23  44   8
4  14   6  15  28
5  14  14   1  10
Modified dataframe =
       A     B     C   D
0   1.0   NaN  23.0  15
1  14.0  25.0  17.0  41
2  49.0  27.0   NaN  42
3  25.0  23.0  44.0   8
4   NaN   6.0  15.0  28
5  14.0  14.0   1.0  10
Final dataframe =
       A     B     C   D
1  14.0  25.0  17.0  41
3  25.0  23.0  44.0   8
5  14.0  14.0   1.0  10

In [26]:
#Assignment 4: Data Aggregation
#1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

import pandas as pd
import numpy as np

df = pd.DataFrame({'Category': np.random.choice(['A', 'B', 'C'], size=10), 'Value': np.random.randint(1, 100, size=10)})
print("DataFrame = \n",df)

grouped = df.groupby('Category')['Value'].agg(['sum','mean'])
print("Grouped dataframe = \n",grouped)

DataFrame =
   Category  Value
0        C     76
1        C     72
2        B     35
3        C     91
4        A     94
5        A     14
6        A     58
7        B     52
8        A     83
9        A     22
Grouped dataframe =
           sum       mean
Category
A         271  54.200000
B          87  43.500000
C         239  79.666667

In [27]:
#Assignment 4: Data Aggregation
#2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

import pandas as pd
import numpy as np

df = pd.DataFrame({'Product': np.random.choice(['Prod1', 'Prod2', 'Prod3'], size=10), 'Category': np.random.choice(['A', 'B', 'C'], size=10), 'Sales': np.random.randint(1, 100, size=10)})
print("DataFrame = \n",df)

grouped = df.groupby('Category')['Sales'].sum()
print("Grouped dataframe = \n",grouped)

DataFrame =
   Product Category  Sales
0   Prod2        C     84
1   Prod2        C     71
2   Prod3        A      8
3   Prod2        A     44
4   Prod2        A     16
5   Prod3        A     68
6   Prod3        B     11
7   Prod2        B     48
8   Prod2        C     74
9   Prod3        C     12
Grouped dataframe =
 Category
A    136
B     59
C    241
Name: Sales, dtype: int32

In [32]:
#Assignment 5: Merging DataFrames
#1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.

import pandas as pd

df1 = pd.DataFrame({'Key':['A','B','C'],'Value':[1,2,3]})
df2 = pd.DataFrame({'Key':['A','B','D'],'Value':[4,5,6]})
print(df1)
print(df2)
print(pd.merge(df1,df2,on = "Key",how = "inner"))
print(pd.merge(df1,df2,on = "Key",how = "outer"))
print(pd.merge(df1,df2,on = "Key",how = "left"))
print(pd.merge(df1,df2,on = "Key",how = "right"))

  Key  Value
0   A      1
1   B      2
2   C      3
  Key  Value
0   A      4
1   B      5
2   D      6
  Key  Value_x  Value_y
0   A        1        4
1   B        2        5
  Key  Value_x  Value_y
0   A      1.0      4.0
1   B      2.0      5.0
2   C      3.0      NaN
3   D      NaN      6.0
  Key  Value_x  Value_y
0   A        1      4.0
1   B        2      5.0
2   C        3      NaN
  Key  Value_x  Value_y
0   A      1.0        4
1   B      2.0        5
2   D      NaN        6

In [35]:
#Assignment 5: Merging DataFrames
#2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

import pandas as pd
import numpy as np

df1 = pd.DataFrame({'A': np.random.randint(1, 100, size=3), 'B': np.random.randint(1, 100, size=3)})
df2 = pd.DataFrame({'C': np.random.randint(1, 100, size=3), 'D': np.random.randint(1, 100, size=3)})
print("DataFrame 1 = \n",df1)
print("DataFrame 2 = \n",df2)

concat_rows = pd.concat([df1,df2],axis=1)
print("Concatenate the DataFrames along the rows = \n",concat_rows)

concat_columns = pd.concat([df1,df2],axis=0)
print("Concatenate the DataFrames along the columns = \n",concat_columns)

DataFrame 1 =
     A   B
0  41  13
1  42  47
2  76  86
DataFrame 2 =
     C   D
0  27  59
1  59  94
2  60  33
Concatenate the DataFrames along the rows =
     A   B   C   D
0  41  13  27  59
1  42  47  59  94
2  76  86  60  33
Concatenate the DataFrames along the columns =
       A     B     C     D
0  41.0  13.0   NaN   NaN
1  42.0  47.0   NaN   NaN
2  76.0  86.0   NaN   NaN
0   NaN   NaN  27.0  59.0
1   NaN   NaN  59.0  94.0
2   NaN   NaN  60.0  33.0

In [15]:
#Assignment 6: Time Series Analysis
#1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
import pandas as pd
import numpy as np

date_rng = pd.date_range(start='2022-01-01', end='2022-12-31', freq='D')
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0, 100, size=(len(date_rng)))
df.set_index('date', inplace=True)
print("Original DataFrame:")
print(df)

# Resample the DataFrame to compute the monthly mean of the values
monthly_mean = df.resample('M').mean()
print("Monthly mean DataFrame:")
print(monthly_mean)

Original DataFrame:
            data
date
2022-01-01    40
2022-01-02    64
2022-01-03    24
2022-01-04     3
2022-01-05    35
...          ...
2022-12-27    40
2022-12-28    61
2022-12-29     0
2022-12-30     7
2022-12-31     9

[365 rows x 1 columns]
Monthly mean DataFrame:
                 data
date
2022-01-31  48.935484
2022-02-28  47.714286
2022-03-31  47.677419
2022-04-30  51.933333
2022-05-31  53.645161
2022-06-30  41.900000
2022-07-31  53.290323
2022-08-31  53.064516
2022-09-30  51.166667
2022-10-31  43.870968
2022-11-30  52.933333
2022-12-31  37.612903

In [16]:
#Assignment 6: Time Series Analysis
#2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

import pandas as pd
import numpy as np

date_rng = pd.date_range(start='2022-01-01', end='2022-12-31', freq='D')
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0, 100, size=(len(date_rng)))
df.set_index('date', inplace=True)
print("Original DataFrame:")
print(df)

rolling_mean = df.rolling(window=7).mean()
print("rolling mean = \n",rolling_mean)

Original DataFrame:
            data
date
2022-01-01    70
2022-01-02    94
2022-01-03    56
2022-01-04    65
2022-01-05    31
...          ...
2022-12-27    28
2022-12-28    51
2022-12-29    99
2022-12-30    61
2022-12-31    48

[365 rows x 1 columns]
rolling mean =
                  data
date
2022-01-01        NaN
2022-01-02        NaN
2022-01-03        NaN
2022-01-04        NaN
2022-01-05        NaN
...               ...
2022-12-27  58.142857
2022-12-28  60.142857
2022-12-29  73.714286
2022-12-30  68.571429
2022-12-31  61.428571

[365 rows x 1 columns]

In [17]:
#Assignment 7: MultiIndex DataFrame
#1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.

# Create a Pandas DataFrame with a MultiIndex (hierarchical index)
arrays = [['A', 'A', 'B', 'B'], ['one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'SubCategory'))
df = pd.DataFrame(np.random.randint(1, 100, size=(4, 3)), index=index, columns=['Value1', 'Value2', 'Value3'])
print("MultiIndex DataFrame:")
print(df)

# Basic indexing and slicing operations
print("Indexing at Category 'A':")
print(df.loc['A'])

print("Slicing at Category 'B' and SubCategory 'two':")
print(df.loc[('B', 'two')])

MultiIndex DataFrame:
                      Value1  Value2  Value3
Category SubCategory
A        one              45      91       5
         two              59      66      76
B        one              73      58      53
         two              57      71      34
Indexing at Category 'A':
             Value1  Value2  Value3
SubCategory
one              45      91       5
two              59      66      76
Slicing at Category 'B' and SubCategory 'two':
Value1    57
Value2    71
Value3    34
Name: (B, two), dtype: int32

In [20]:
#Assignment 7: MultiIndex DataFrame
#2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

arrays = [['A', 'A', 'B', 'B','C','C'], ['one', 'two', 'one', 'two','one', 'two']]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'SubCategory'))
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 3)), index=index, columns=['Value1', 'Value2', 'Value3'])
print("MultiIndex DataFrame:")
print(df)

sum_value = df.groupby(['Category', 'SubCategory']).sum()
print("Sum of the values = \n",sum_value)

MultiIndex DataFrame:
                      Value1  Value2  Value3
Category SubCategory
A        one              12      74      98
         two              51      77      74
B        one              47      97      10
         two              42      79      30
C        one              48      98      60
         two              16       4      43
Sum of the values =
                       Value1  Value2  Value3
Category SubCategory
A        one              12      74      98
         two              51      77      74
B        one              47      97      10
         two              42      79      30
C        one              48      98      60
         two              16       4      43

In [21]:
#Assignment 8: Pivot Tables
#1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.

# Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'
date_rng = pd.date_range(start='2022-01-01', end='2022-01-10', freq='D')
df = pd.DataFrame({'Date': np.random.choice(date_rng, size=20), 'Category': np.random.choice(['A', 'B', 'C'], size=20), 'Value': np.random.randint(1, 100, size=20)})
print("Original DataFrame:")
print(df)

# Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'
pivot_table = df.pivot_table(values='Value', index='Date', columns='Category', aggfunc='sum')
print("Pivot Table:")
print(pivot_table)

Original DataFrame:
         Date Category  Value
0  2022-01-04        A     95
1  2022-01-04        B     21
2  2022-01-04        C     75
3  2022-01-01        C     35
4  2022-01-04        A     19
5  2022-01-10        C     81
6  2022-01-01        A     27
7  2022-01-02        B     95
8  2022-01-07        C     14
9  2022-01-03        C     69
10 2022-01-03        A     74
11 2022-01-07        B     87
12 2022-01-09        A     48
13 2022-01-08        A      3
14 2022-01-05        A     62
15 2022-01-09        C     66
16 2022-01-03        C      9
17 2022-01-07        B     25
18 2022-01-08        A     91
19 2022-01-08        B     76
Pivot Table:
Category        A      B     C
Date
2022-01-01   27.0    NaN  35.0
2022-01-02    NaN   95.0   NaN
2022-01-03   74.0    NaN  78.0
2022-01-04  114.0   21.0  75.0
2022-01-05   62.0    NaN   NaN
2022-01-07    NaN  112.0  14.0
2022-01-08   94.0   76.0   NaN
2022-01-09   48.0    NaN  66.0
2022-01-10    NaN    NaN  81.0

In [22]:
#Assignment 8: Pivot Tables
#2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

df = pd.DataFrame({'Year': np.random.choice([2020, 2021, 2022], size=12), 'Quarter': np.random.choice(['Q1', 'Q2', 'Q3', 'Q4'], size=12), 'Revenue': np.random.randint(1, 1000, size=12)})
print("Original DataFrame: \n",df)


# Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'
pivot_table = df.pivot_table(values='Revenue', index='Year', columns='Quarter', aggfunc='mean')
print("Pivot Table: \n",pivot_table)

Original DataFrame:
     Year Quarter  Revenue
0   2020      Q2      134
1   2022      Q4      887
2   2021      Q1      932
3   2022      Q2       43
4   2022      Q1      178
5   2020      Q1        8
6   2020      Q2      689
7   2022      Q1      647
8   2020      Q1      383
9   2020      Q4      432
10  2020      Q4       10
11  2022      Q4      104
Pivot Table:
 Quarter     Q1     Q2     Q4
Year
2020     195.5  411.5  221.0
2021     932.0    NaN    NaN
2022     412.5   43.0  495.5

In [25]:
#Assignment 9: Applying Functions
#1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.

import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1,50, size = (5,3)),columns = ['A','B','C'])
print("Dataframe = \n",df)

double_value = df.map(lambda x:x*2)

print("Double values of the dataframe = \n",double_value)

Dataframe =
     A   B   C
0  43  28  23
1  21  26  13
2  33  24   1
3  18   1  13
4  16  19  12
Double values of the dataframe =
     A   B   C
0  86  56  46
1  42  52  26
2  66  48   2
3  36   2  26
4  32  38  24

In [27]:
#Assignment 9: Applying Functions
#2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

df = pd.DataFrame(np.random.randint(1,50, size = (6,3)),columns = ['A','B','C'])
print("Dataframe = \n",df)

df['sum'] = df.apply(lambda row:row.sum(),axis = 1)
print("Final dataframe = \n",df)

Dataframe =
     A   B   C
0  47  13  12
1   1  24  25
2  38  48  16
3  40  22  36
4  13  32  45
5   1   8  46
Final dataframe =
     A   B   C  sum
0  47  13  12   72
1   1  24  25   50
2  38  48  16  102
3  40  22  36   98
4  13  32  45   90
5   1   8  46   55

In [30]:
#Assignment 10: Working with Text Data
#1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
data = pd.Series(['a','b','c','d','e'])
print("series = \n",data)

upper_case = data.str.upper()
print("Final series = \n",upper_case)

series =
 0    a
1    b
2    c
3    d
4    e
dtype: object
Final series =
 0    A
1    B
2    C
3    D
4    E
dtype: object

In [31]:
#Assignment 10: Working with Text Data
#2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

data = pd.Series(['aghi','bzxy','cpno','dhjl','ejvf'])
print("series = \n",data)

first_three_char = data.str[:3]
print("the first 3 characters of each string = \n",first_three_char)

series =
 0    aghi
1    bzxy
2    cpno
3    dhjl
4    ejvf
dtype: object
the first 3 characters of each string =
 0    agh
1    bzx
2    cpn
3    dhj
4    ejv
dtype: object